/* main text color #757575 */
/* secondary text color #212121 */
/* acent color #2196F3 */
/* white color #ffffff */
/* footer contacts color rgba(255, 255, 255, 0.6) */
/* hero, footer background color #2F303A */
/* company section, button bg color #F5F4FA */
:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-btn-hover-color: #188ce8;
  --background-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --gallery-border-color: #eeeeee;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --hero-gradient1: rgba(255, 0, 0, 0.2);
  --hero-gradient2: rgba(0, 255, 0, 0.2);
  --social-color: #afb1b8;
  --footer-social: rgba(255, 255, 255, 0.1);
}
h3,
p {
  margin: 0;
}
body {
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ====================HEADER==================== */
.page-header {
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ececec;
}
.container.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-flex {
  display: flex;
  align-items: center;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 15px 0;
}
/* logo style */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.header.logo {
  color: var(--secondary-text-color);
}
.logo-acent {
  color: var(--accent-color);
}
.footer.logo {
  color: var(--background-color);
}
/* nav style */
.site-nav {
  margin-left: 93px;
}
.site-nav,
.header-contacts {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--secondary-text-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .list-item,
.header-contacts .list-item {
  margin-left: 50px;
}
.site-nav .list-item:first-child,
.header-contacts .list-item:first-child {
  margin-left: 0px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* header contacts style*/
.header-contacts {
  color: var(--main-text-color);
}
.header-contacts.link:hover,
.header-contacts.link:focus,
.footer-contact.link:hover,
.footer-contact.link:focus,
.footer-adress.link:hover,
.footer-adress.link:focus {
  color: var(--accent-color);
}
.icon-contact {
  fill: currentColor;
  margin-right: 10px;
}
/* ==========================HERO======================= */
/* hero sections style */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  max-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-background-color);
  background-image: linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)),
    url('../images/squoosh_hero-Img.jpg');

  text-align: center;
  letter-spacing: 0.06em;
}
.hero-title {
  margin: 0 auto 30px;
  width: 45%;

  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.button {
  background-color: var(--button-background-color);
  color: var(--secondary-text-color);
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 8px 30px;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--primary-btn-hover-color);
}
.button.secondary {
  background-color: var(--button-background-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  min-width: 70px;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* =================== section style ===============*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* =================== BENEFITS SECTION ============ */
.benefits {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}
.benefits-item {
  /* flex-basis: calc((100%-90px) / 4); */
  width: 270px;
}
.benefits-item + .benefits-item {
  margin-left: 30px;
}
.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.picture {
  width: 270px;
  height: 120px;
  padding: 25px 0px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--button-background-color);
  text-align: center;
}
/* =================== SPECIALIZATIO SECTION ====== */
.specialization {
  display: flex;
  justify-content: space-between;
}
.img-block {
  display: block;
  width: 100%;
  height: auto;
}
.specialization-item + .specialization-item {
  margin-left: 30px;
}
.specialization-item {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
/* =================== COMPANY SECTION ============= */
.members.list {
  display: flex;
  justify-content: space-between;
}
.members-item + .members-item {
  margin-left: 30px;
}
.members-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-company {
  background-color: var(--button-background-color);
}
.member-text {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--background-color);
}
.members-title {
  margin: 0px auto 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0 auto 16px;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}
.social-href {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--social-color);
}
.social-href:hover,
.social-href:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  cursor: pointer;
}
.social-item + .social-item {
  margin-left: 10px;
}
.social-icon {
  fill: currentColor;
}
/* =================== PERMANENT SECTION ============= */
.permanent.list {
  display: flex;
  justify-content: center;
}
.permanent-href {
  display: inline-flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  color: var(--social-color);
}
.permanent-icon {
  fill: currentColor;
}
.permanent-item:not(:first-child) {
  margin-left: 30px;
}
.permanent-href:hover,
.permanent-href:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
/* ================== GALLERY SECTION ============*/
.secondary-button.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item + .filter-item {
  margin-left: 8px;
}
.gallery.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-item {
  max-width: 370px;
  border-bottom: 1px solid var(--gallery-border-color);
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-item:nth-child(3n) {
  margin-right: 0px;
}
.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.gallery-text {
  padding: 20px 24px;
  max-width: 370px;
}
.gallery-title {
  margin-bottom: 4px;

  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-business {
  font-size: 16px;
  line-height: 1.87;
}
/* ==================== FOOTER ==================== */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer.logo.link {
  margin-bottom: 20px;
  padding: 0;
}
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-adress {
  color: var(--background-color);
}
.footer-contact {
  color: var(--footer-contacts-color);
}
.footer-contact.link,
.footer-adress.link {
  padding: 0px;
}
.footer-contacts.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 81px;
}
.footer-contact-item:first-child {
  padding-top: 0;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.ff-item.social {
  margin-left: 70px;
}
.social-title {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--background-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.ff-item .social-list {
  padding: 0;
}
.ff-item .social-href {
  background-color: var(--footer-social);
  color: var(--background-color);
}
.ff-item .social-href:hover,
.ff-item .social-href:focus {
  background-color: var(--accent-color);
}
